recursive-include ngsfragments *.c *.h *.pxd *.pyx *.txt *.h5 *.bed.gz
recursive-include htslib  *.c *.h *.5 *.1 *.7 *.mk *.ac *.in *.status *.m4 *.sh
recursive-include htslib *.5
include cy_build.py
include htslib/configure
include htslib/Makefile
